.grid-container {
  display: inline-grid;
  grid-template-columns: repeat(4, 3rem);
  grid-template-rows: minmax(5rem, auto) repeat(5, 3rem);
  background: #20343c;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.grid-container > button{
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #ffffff;
  background: transparent;
  font-size: larger;
  cursor: pointer;
}

.screen {
  grid-column: 1 / -1;
  background: #ffffff;
  padding: 20px 10px;
  margin: -10px -10px 10px;
  border-radius: 10px;
}

.output {
  display: flex;
  min-height: 100px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  background: #e8eaeb;
  padding: 15px 5px 15px;
  border-radius: 5px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  font-weight: 400;
}

.output .current-operand {
  font-weight: 600;
  font-size: 1.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: -10px;
}

span.del-digit {
  cursor: pointer;
  
}